<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP TO DO</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
 <!-- Script de Alerta para identificar y verificar que se haya guardado en la lista -->
 <script>

    //este es para el mensaje de borrado de la lista en Javascript 
    function ListaEliminada() {
        var el_name = document.getElementById("el_name").value;
        var el_email = document.getElementById("el_email").value;
        var el_prioridad = document.getElementById("el_prioridad").value;
        if (el_name == [] || el_name == [] || el_name == []) {
            alert("No hay ningun elemento ");
        } else {
            alert('Todos los registros de la lista han sido Eliminados');
        }

    }

    // Este es el mensaje de ngreso de datos a la lista de registros, para verificar que se guarden datos 
    function validacionRegistro() {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var singleselect = document.getElementById("singleselect").value;
        if (username == [] || email == [] || singleselect == []) {
            alert("Debes completar Todos los Campos para Guardar el Registro");
        } else {

            alert('Datos registrados en la Lista');
        }
    }
</script>


</head>

<body>

    <!--Este es el head de nuestra aplicacion la parte de arriba, que se encuentra una franja naranja -->
    <div class="page-header bg-warning text-white text-center">
        <h1>APPW: Desarrollo web con Flask </h1>
    </div>

    <!-- Inicio del Formulario del controlador de envio primera parte -->
    <!--Aqui es donde se hace el llamdo del controlodor del formulario que es del Envio de datos  -->
    <form action="{{url_for('enviar')}}" method="POST" style="width: 35%; margin: 0 auto;">
        <!--titulo de donde se añade el formulario-->
        <legend class="text-center  text-warning"> TO DO ADD</legend>
        <!-- 1. Text Input -->
        <div class="form-group">
            <label for="username">Tarea: </label>
            <input type="text" class="form-control border border-secondary" id="username" aria-describedby="Username"
                placeholder="Enter Username" name="lista_Name">
        </div>
        <!-- 2. Email  -->
        <div class="form-group">
            <label for="email">Email: </label>
            <input type="text" class="form-control border border-secondary" id="email" aria-describedby="email"
                placeholder="Enter Email" name="lista_Email">
        </div>

        <!-- 3. Single Select -->
        <div class="form-group">
            <label for="singleselect">Prioridad: </label>
            <select class="form-control  border border-secondary" id="singleselect" name="lista_Prioridad">
                <option>Bajo</option>
                <option>Medio</option>
                <option>Alto</option>

            </select>
        </div>
        <!-- 9. Submit Button de agregar tarea -->
        <button type="submit" class="btn btn-success  p-2 my-3 bg-warning " onclick="validacionRegistro()"
            value="registro">Agregar a la tarea</button>

    </form>
    <!-- End of Form -->


    <!-- Inicio del Formulario de borrado de datos  -->
    <!--Formulario de borrar datos de toda la lista, del controlador borrar -->
    <form action="{{url_for('borrar')}}" method="POST" style="width: 35%; margin: 0 auto;">
        <!-- 4. Text de la tarea  de eliminar tarea -->
        <div class="form-group">
            <label for="idTarea">Deseas Eliminar toda la Tarea ?? </label>
            <button type="submit" class="btn btn-success  p-2 my-3 bg-warning" onclick="ListaEliminada()"
                value="eliminarTodos">Eliminar Toda la Lista</button>
        </div>
    </form>

    <!-- FORMULARIO PARA Eliminar la tarea por el mombre -->
    <form action="" method="POST" style="width: 35%; margin: 0 auto;">
        <!-- 4. Text de la tarea  de eliminar tarea -->
        <div class="form-group">
            <label for="idTarea">Eliminar Tarea por Nombre: </label>
            <input type="text" class="form-control border border-secondary" id="idTarea" aria-describedby="idTarea"
                placeholder="Nombre de la tarea">
        </div>
        <!-- 10. Submit Button de Eliminar tarea -->
        <button type="submit" class="btn btn-success  p-2 my-3 bg-warning ">Eliminar Tarea</button>
    </form>

    <!--Div de mostrar la tabla el resultado -->
    <table class="table" style="width: 60%; margin: 0 auto;">
        <thead>
            <tr>

                <th scope="col"
                    style="background-color: rgb(250, 186, 49); text-align: center; border-radius: 5px; color: whitesmoke;">
                    Tarea</th>
                <th scope="col"
                    style="background-color: rgb(250, 186, 49); text-align: center; border-radius: 5px; color: whitesmoke;">
                    Email</th>
                <th scope="col"
                    style="background-color: rgb(250, 186, 49); text-align: center; border-radius: 5px; color: whitesmoke;">
                    Prioridad</th>
            </tr>
        </thead>
        <tbody ">
        <!--Se utiliza un for para el crear una lista en forma de tablas, tal como se ve a cotinuacion-->
        {% for tablaTarea in ListasApp %}

        <tr>

            <!--Muestra los datos ingresados por el usuario -->
            <th id=" el_name" style=" text-align: center; background-color: antiquewhite; text-align: center; border-radius:
        5px;">{{tablaTarea.lista_Name}}</th>
            <!--Mostrar correo de la tarea-->
            <th id="el_email"
                style="text-align: center; background-color: antiquewhite; text-align: center; border-radius: 5px;">
                {{tablaTarea.lista_Email}}</th>
            <!--Mostrar prioridad de la tarea-->
            <th id="el_prioridad"
                style="text-align: center; background-color: antiquewhite; text-align: center; border-radius: 5px;">
                {{tablaTarea.lista_Prioridad}}</th>
            </tr>

            {% endfor %}
            <!--Aqui termina el for de la tabla -->

        </tbody>
    </table>
    <br>




    <!--Este es el footer de nuestro archivo -->
    <footer class="bg-dark text-center text-white">

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(253, 190, 16, 0.897);">
            © 2022 Jhostyn Javier Gavilánez Suárez
        </div>
        <!-- Copyright -->
    </footer>




    <!-- Bootstrap 5 Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Scripts DJANJO -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>